In [77]:
import numpy as np
import scipy as sp
import pandas as pd
import random

from matplotlib import pyplot as plt
from datetime import datetime

import tensorflow as tf
import torch
import sklearn
import keras

In [78]:
consumer = pd.read_csv("yoochoose-buys.csv")

In [79]:
consumer['date'] = pd.to_datetime(consumer['timeStamp']).dt.date
consumer['time'] = pd.to_datetime(consumer['timeStamp']).dt.time

In [97]:
# Pre-processing
# Split the raw timeStamp, e.g. 2014-04-06T18:44:58.314Z, into two new columns: 'date' and 'time'
consumer['date'] = pd.to_datetime(consumer['timeStamp']).dt.date
consumer['time'] = pd.to_datetime(consumer['timeStamp']).dt.time 

# Pre-processing
# Split the 'date' column into 3 new columns: 'year', 'month', and 'day'
consumer['year'] = pd.to_datetime(consumer['date']).dt.year
consumer['month'] = pd.to_datetime(consumer['date']).dt.month
consumer['day'] = pd.to_datetime(consumer['date']).dt.day

# Since the original 'time' column contains data that are datetime.time object, not datetime.date.datetime object,
# you need to first convert all the objects from 'datetime.time' to 'datetime.datetime' type, 
# then perform dt.hour, dt.minute, and d.second operations
# 
consumer['time'] = pd.to_datetime(consumer['time'].apply(lambda x: x.strftime('%H:%M:%S')))
consumer['hour'] = consumer['time'].dt.hour
consumer['minute'] = consumer['time'].dt.minute
consumer['second'] = consumer['time'].dt.second

consumer['day_of_week'] = pd.to_datetime(consumer['date']).dt.day_name()

In [98]:
print(type(consumer['time'][0]), consumer['time'][0])

<class 'pandas._libs.tslibs.timestamps.Timestamp'> 2023-04-13 18:44:58

In [99]:
consumer.head()

,sessionId,timeStamp,itemId,price,quantity,date,time,year,month,day,hour,minute,second,day_of_week
0,420374,2014-04-06T18:44:58.314Z,214537888,12462,1,2014-04-06,2023-04-13 18:44:58,2014,4,6,18,44,58,Sunday
1,420374,2014-04-06T18:44:58.325Z,214537850,10471,1,2014-04-06,2023-04-13 18:44:58,2014,4,6,18,44,58,Sunday
2,281626,2014-04-06T09:40:13.032Z,214535653,1883,1,2014-04-06,2023-04-13 09:40:13,2014,4,6,9,40,13,Sunday
3,420368,2014-04-04T06:13:28.848Z,214530572,6073,1,2014-04-04,2023-04-13 06:13:28,2014,4,4,6,13,28,Friday
4,420368,2014-04-04T06:13:28.858Z,214835025,2617,1,2014-04-04,2023-04-13 06:13:28,2014,4,4,6,13,28,Friday

In [100]:
consumer_new = consumer.drop(['date', 'time'], axis=1)

In [101]:
consumer_new.head()

,sessionId,timeStamp,itemId,price,quantity,year,month,day,hour,minute,second,day_of_week
0,420374,2014-04-06T18:44:58.314Z,214537888,12462,1,2014,4,6,18,44,58,Sunday
1,420374,2014-04-06T18:44:58.325Z,214537850,10471,1,2014,4,6,18,44,58,Sunday
2,281626,2014-04-06T09:40:13.032Z,214535653,1883,1,2014,4,6,9,40,13,Sunday
3,420368,2014-04-04T06:13:28.848Z,214530572,6073,1,2014,4,4,6,13,28,Friday
4,420368,2014-04-04T06:13:28.858Z,214835025,2617,1,2014,4,4,6,13,28,Friday